{{> navbar}}

<section class="engine"><a href="/">Barbadox Ltd.</a></section><section class="mbr-section content4 cid-qUL1uOZLue" id="content4-2r">

    

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center pb-3 mbr-fonts-style display-2">
                    Strategic Consulting</h2>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-7">Corporate strategy, Finance &amp; Human Resources</h3>
                <hr>
                
            </div>
        </div>
    </div>
</section>

<section class="mbr-section article content1 cid-qUL28uLIpc" id="content1-2s">
    
     

    <div class="container">
        <div class="media-container-row">
            <div class="mbr-text col-12 col-md-8 mbr-fonts-style display-7">We are on hand to create, plan and implement short, mid and long term development requirements, by complementing and driving the necessary indices of growth in any organization. We collaborate with Government and its various agencies, NGOs, SMEs, Corporate and Social Groups to achieve and sustain their operational strategies under a conducive and friendly approach by adapting to effective and customized techniques, peculiar to the firm. Our range of services include Public Relations, Training, Financial Services/Auditing, Corporate Strategy, Human Resource Development etc.</div>
        </div>
    </div>
</section>

{{> footer}}
