{{> navbar}}

<section class="engine"><a href="/">Barbadox Ltd.</a></section><section class="mbr-section content4 cid-qUL3H56hQY" id="content4-2v">

    

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center pb-3 mbr-fonts-style display-2">
                    Procurement</h2>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-5">Delivering proven procurement strategies and solutions...</h3>
                
            </div>
        </div>
    </div>
</section>

<section class="mbr-section article content1 cid-qUL3ZO1Lit" id="content1-2x">
    
     

    <div class="container">
        <div class="media-container-row">
            <div class="mbr-text col-12 col-md-8 mbr-fonts-style display-7">Barbadox delivers proven procurement strategies and solutions to substantially reduce supply chain costs and deliver quality materials that meet client’s specific requirements on schedule. We have longstanding global alliance and rich network of Original Equipment Manufacturers (OEM’s), authorised distributors of oilfield equipment, global buying houses, reputable third party quality inspectors and global freight forwarders. Our team has deep experience and understanding of local and international sourcing market and supply chain management. 
<div>With a record of accomplishment of several successful project materials delivery for our clients, Barbadox is a leader in providing turnkey procurement solutions. We carefully select vendors and suppliers who share our passion for excellence and strive to add value to our projects with a joint focus on quality, schedule, and price. <strong>
</strong></div><div><strong><br></strong></div></div>
        </div>
    </div>
</section>

{{> footer}}