{{> navbar}}

<section class="engine"><a href="/">Barbadox Ltd.</a></section><section class="mbr-section content4 cid-qUjiUY6mdE" id="content4-1v">
    
    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center pb-3 mbr-fonts-style display-2">
                    Our Services</h2>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-5">
                    Why choose Barbadox Ltd.?</h3>
                
            </div>
        </div>
    </div>
</section>

<section class="features5 cid-qUjjiuCL1A" id="features5-1w">
    
    

    
    <div class="container">
        <div class="media-container-row">

            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="card-img pb-3">
                    <span class="mbr-iconfont mbri-like" style="color: rgb(20, 157, 204);"></span>
                </div>
                <div class="card-box">
                    <h4 class="card-title py-3 mbr-fonts-style display-7">Years of experience</h4>
                    <p class="mbr-text mbr-fonts-style display-7">
                       working in Procurement  Services &amp; Equipment Supply within Nigeria and across Africa.<a href="/about">Learn more...</a>
                    </p>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="card-img pb-3">
                    <span class="mbr-iconfont mbri-key" style="color: rgb(79, 161, 11);"></span>
                </div>
                <div class="card-box">
                    <h4 class="card-title py-3 mbr-fonts-style display-7">
                        Trusted Organization</h4>
                    <p class="mbr-text mbr-fonts-style display-7">
                       registered &amp; approved by leading oil and  gas companies, governments &amp; International Aid  Organisations. <a href="/strategyglobal">Learn more...</a><a href="/about" class="text-info"></a><a href="/about">
                    </a></p>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="card-img pb-3">
                    <span class="mbr-iconfont mbri-globe" style="color: rgb(20, 157, 204);"></span>
                </div>
                <div class="card-box">
                    <h4 class="card-title py-3 mbr-fonts-style display-7">Global Infrastructure</h4>
                    <p class="mbr-text mbr-fonts-style display-7">Offices, JV’s and consolidation hubs in place and proven to work. <a href="/consulting">Learn more...</a>
                    </p>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="card-img pb-3">
                    <span class="mbr-iconfont mbri-success" style="color: rgb(79, 161, 11);"></span>
                </div>
                <div class="card-box mbr-fonts-style">
                    <h4 class="card-title py-3 display-7">
                        Value added services</h4>
                    <p class="mbr-text mbr-fonts-style display-7">
                       Dedicated warehousing  for inspection, consolidation, packing. End of project  volume supply solutions for exiting EPC contractors.. <a href="/about">Learn more...</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section content5 cid-qUjkYUPfO6" id="content5-1y">

    

    

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center mbr-bold mbr-white pb-3 mbr-fonts-style display-1">What we Offer!</h2>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-white pb-3 mbr-fonts-style display-5">We offer 3 core services...</h3>
                
                
            </div>
        </div>
    </div>
</section>

<section class="mbr-section article content11 cid-qUL4PsTmvq" id="content11-2z">
     

    <div class="container">
        <div class="media-container-row">
            <div class="mbr-text counter-container col-12 col-md-8 mbr-fonts-style display-7">
                <ol>
                    <li><strong>PROCUREMENT</strong> - Barbadox delivers proven procurement strategies and solutions to substantially reduce supply chain costs and deliver quality materials that meet client’s specific requirements on schedule. <a href="/procurement">Read More</a><a href="/">!</a></li>
                    <li><strong>GLOBAL STRATEGIC SOURCING</strong>&nbsp;- Through rich networks and global alliances, Barbadox's teams of qualified buyers are able to source any material required by our clients from the right and trusted sources. <a href="/strategyglobal">Read More</a><a href="/">!</a></li>
                    <li><strong>STRATEGIC CONSULTING</strong>&nbsp;- We are on hand to create, plan and implement short, mid and long term development requirements, by complementing and driving the necessary indices of growth in any organization. <a href="/consulting">Read&nbsp;More!</a></li>
                </ol>
            </div>
        </div>
    </div>
</section>

{{> clients}}

{{> footer}}